#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: none;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}

#nav_menu ul li a.lastitem {
    border-right: none
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: none;
    color: none;
    text-align: none;
}

.main {
    position: center;
    left: 0;
    bottom: 0;
    padding-top: 60px;
    width: 100%;
    background-color: none;
    color: none;
    text-align: left;
}

h2 {
    text-align: left;
}