#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175 px;
    padding: 1em 0;
    text-decoration: none;
    background-color: none;
    color: white;
    font-weight: bold;
    border-right: 2px solid white;
}

#nav_menu ul li a.lastitem {
    border-right: none
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: none;
    color: none;
    text-align: none;
}